/* Set the background color for the body */
body {
    background-color: #efebae;
}

/* Style for each Pokemon card */
.pokemon-card {
    cursor: pointer; /* Add pointer cursor on hover */
    transition: transform 0.2s; /* Smooth transform effect */
}

/* Apply scaling effect when hovering over a Pokemon card */
.pokemon-card:hover {
    transform: scale(1.05); /* Slightly enlarge the card */
}

/* Style for the Pokemon image inside the card */
.pokemon-img {
    width: 100%;  /* Make the image fill the card width */
    height: auto; /* Maintain aspect ratio */
}

/* Style for caught Pokemon cards */
.caught {
    border: 2px solid rgb(248, 207, 174); /* Add a border for caught Pokemon */
}
